@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200;300;400;500;600;700;800&display=swap');


:root {
    --fontFamily: 'Albert Sans', sans-serif;
    --darkGray: #323232;
    --lightGray: #4b4b4b;
    --black: #000;
    --blackOpt: #181818;
    --white: #fffff;
    --whiteOpt: #e6e6e6;
    --gray: #656565;
    background: var(--whiteOpt);
}

html {
    position: relative;
    min-height: 100%;
    background: var(--whiteOpt);
    font-family: var(--fontFamily);
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


body {
    font-family: var(--fontFamily);
    background: var(--whiteOpt);
}

.navbar {
    padding: 0.2rem 0;
}

.navbar-light .navbar-nav .nav-link.text-dark-gray {
    color: var(--darkGray);
}

.container-xsm {
    width: 100%;
    margin: 0 auto;
    min-width: 240px;
    max-width: 500px;
}

.container-custom1 {
    width: 100%;
    margin: 0 auto;
    min-width: 1225px;
    justify-content: center;
}

.container-custom2 {
    width: 95%;
    margin: 0 auto;
    min-width: 1225px;
}

.col-3 {
    width: 20%;
    flex: 0 0 auto;
    max-width: 100%;
}

.bg-white-opt {
    background-color: var(--whiteOpt);
    border-radius: 0.4rem;
    border-color: var(--whiteOpt);
}

.bg-light-gray {
    background-color: var(--lightGray);
    border-radius: 0.4rem;
    border-color: var(--lightGray);
}

.bg-gray {
    background-color: var(--gray);
    border-radius: 0.4rem;
    border-color: var(--gray);
}


h2 {
    font-size: 1.125rem;
}

.text-white-opt {
    color: var(--whiteOpt);
}

.text-white-opt:hover {
    color: var(--bs-teal);
}

.footer {
    position: relative !important;
    background: var(--blackOpt);
    line-height: 1.8rem !important;
}

.footer__group {
    display: flex;
    align-items: baseline;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.footer__link {
    display: block;
    text-decoration: none;
    padding: 5px 0;
}

.navbar-brand.fix-position {
    position: relative;
    left: -10px;
}
.footer .logo {
    display: block;
    margin: 0 0 10px 0;
}

.container-txt {
    max-width: 400px;
    white-space: normal;
}

.footer .h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    text-align: left;
    color: white;
   
}

.group-links {
    padding: 0 2.8rem;
}

.group__left {
    margin-right: 90px;
}


.container-txt span {
    color: var(--whiteOpt);
}

