@using Undisputed.ViewModels
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div> 
    <div class="container-custom1 row mx-auto">
            <div class="d-inline-block col col-lg-1 px-0 py-5 ">
                <nav>
                    <div>
                        <span class="text-dark-gray">Menu</span>
                    </div>
                </nav>
            </div>
            <div class="d-inline-block col col-lg-5 p-3">
                 <h2 class="d-block text-black">Popular topics today near, @Model.City, @Model.State</h2>
                <!--end of col-->
                <div class="col-auto">
                    <a href="#" class="btn btn-outline-primary">View all</a>
                </div>
           
                 <div class="col-md-12">
                    @if (Model.Topics == null || Model.Topics.Count() == 0)
                    {
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" />
                            <div class="card-body">
                                <p class="card-text">
                                There are no topics in your area!
                                <a asp-area="" asp-controller="Account" asp-action="Login">Login</a> and create one!
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        @*  <button type="button" class="btn btn-sm btn-outline-secondary">
                                            View
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            Edit
                                        </button>*@
                                    </div>
                                    @*<small class="text-muted">9 mins</small>*@
                                </div>
                            </div>
                        </div>
                    } else
                    {
                        @foreach(var item in Model.Topics)
                        {
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top"   />
                                <div class="card-body">
                                    <p class="card-text">
                                        @item.Description
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">
                                                View
                                            </button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">
                                                Edit
                                            </button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        }

                    }
                </div>
            </div>
            <div class="d-inline-block col col-lg-2 py-5 px-0">
               <div class="col">
                   <div class="card mb-6 box-shadow">
                        <div class="card-body bg-light-gray">
                             <img class="card-img-top" />
                             <h4 class="text-white">Announcement of the Weekend</h4>
                             <p class="card-text text-white">
                                 This is a card for announcements
                             </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-md btn-outline-secondary">
                                       Join Now
                                    </button>
                                </div>
                            </div>
                       </div>
                   </div>
               </div>
            </div>
            <aside class="d-inline-block col col-lg-3 py-5 px-3">
                <div class="card mb-6 box-shadow">
                    <div class="card-body bg-gray">
                        <div class="bg-light-gray">
                        </div>
                       <img class="card-img-top" />
                        <span class="card-text text-white">
                            <strong>
                             John Doe
                            </strong>
                             
                        </span>
                        <span class="text-white">
                        &#64;johnDoe
                        </span>
                    </div>
                </div>
            </aside>
    </div>
</div>
