<div class="main-container">
  <section class="space-sm">
    <div class="container align-self-start">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-7">
          <div class="card card-lg text-center">
            <div class="card-body error-card">
              <div class="mb-4">
                <h2 class="mb-2">Server Error</h2>
                <p>Oops, something went wrong.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>