@model NeatTopic

<div class="row">
    <img src="@Model.Image" alt="" />
    <div class="col-md-8">
        <h1>@Model.Title</h1>
        <p>@Model.Description</p>
        <ul>
            <li>@Model.NeatTopicCategory</li>
        </ul>
    </div>
   
</div>


