@{
    ViewData["Title"] = "Shop Undisputed";
}

@section Scripts {
@*    <script src="~/ts/shopper.js"></script>
    <script src="~/ts/main.js"></script>*@
    <script src="~/client/polyfills.js"></script>
    <script src="~/client/runtime.js"></script>
    <script src="~/client/main.js" asp-append-version="true"></script>
}

@section head {
    <link href="~/client/styles.css" rel="stylesheet" />
}

<the-shop></the-shop>

@*<h1>Shop</h1>*@